
/* Resets */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  text-align: left;
}

article, aside, footer, header, main, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p, pre, ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

pre, code, kbd, samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

blockquote {
  margin: 0 0 1rem;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* site CSS */


html {font-size: 16px;}
body {margin: 2rem 2rem; background-color: white;}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid a {border: 0;}

.grid-item {
  position: relative;
  margin: 0.4rem;
  background: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 6px;
  width: 200px;
  height: 200px;
}

.name {
  position: absolute;
  bottom:20px;
  left: 5px;
  font-size: 1rem;
}

.github {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 1rem;
  margin-bottom: 0;
}

.grid img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;}

img:before {  
  content: " ";
  display: block;

  position: absolute;
  top: 0px;
  left: 0;
  height: calc(100% + 10px);
  width: 100%;
  background-color: whitesmoke;
}

img:after {  
  content: "\f127" "" attr(alt);
  display: block;
  font-size: 16px;
  font-style: normal;
  color: rgb(100, 100, 100);

  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}

